//Colores

$color_primario: #F0A500;
$color_secundario: #E6D5B8;
$color_terciario: #E45826;
$color_negro: #1B1A17;


.locales{
    width: 70%;
    height: auto;
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: repeat(11, auto);
    background-color: $color_negro;
    border: dashed $color_primario;
    border-width: 8px;
    justify-items: center;
    align-items: center;
    margin-left: 15%;
    grid-area: locales;
}

.comida__alt{
    width: 225px;
    height: 225px;
    transition:all .5s ease-in-out;
    &:hover {
        -webkit-transform:scale(1.3);
        transform:scale(1.2);
    }
}

.nombre{
    text-decoration: none;
}

.tipo__comida{
    animation-duration: 3s;
    animation-name: slidein;
}

.cartas{
    animation-duration: 3s;
    animation-name: slideout;
}